<!DOCTYPE html>
<html>
<head>
	<title>Friends Page - Chit Chat App</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
</head>

<body>
	<nav>
		<ul>
			<li class="friends-nav"><a href="friends.html">Friends</a></li>
			<li class="chat-friend-page"><a href="message.html">Chat</a></li>
			<li class="profile-friend-page"><a href="profile.html">Profile</a></li>
		</ul>
	</nav>

<div class="friend-list">
	<div class="friend">
        <h5>James P Sullivan</h5>
		<img class="friend-pic" src="../img/sullivan.jpg">
		<div class="friend-name">
			<button class="add-friend-button">Add Friend</button>
		</div>
	</div>

	<div class="friend">
        <h5>Boo</h5>
		<img class="friend-pic" src="../img/boo.jpg">
		<div class="friend-name">
			<button class="add-friend-button">Add Friend</button>
		</div>
	</div>

	<div class="friend">
        <h5>Randy Boggs</h5>
		<img class="friend-pic" src="../img/randall.jpg">
		<div class="friend-name">
			<button class="add-friend-button">Add Friend</button>
		</div>
	</div>

	<div class="friend">
        <h5>Celia Mae</h5>
		<img class="friend-pic" src="../img/celia.jpg">
		<div class="friend-name">
			<button class="add-friend-button">Add Friend</button>
		</div>
	</div>

	<div class="friend">
        	<h5>Squishy</h5>
		<img class="friend-pic" src="../img/squishy.jpg">
		<div class="friend-name">
			<button class="add-friend-button">Add Friend</button>
		</div>
	</div>
</div>

</body>

</html>